/** CSS Rules to improve the Gmail user experience by offering customizable tools to improve one's ability to visually scan their inbox, organize priorities, and find what they're looking for. **/

/*****************************************************************************/
/*Many of the below features will be customizable in the future, for example:
    * Colors for each label (color wheel select)
    * Which infrequently used icons/tabs are removed from the UI
    * Which infrequently used/auxiliary icons/tabs are faded out/how strongly they are faded out
    * How to distinguish keyword matches from other words in an email when using the global search feature (highlight, underline, etc)
    * Many more

To learn how to use it, see the README.md page. Currently, you must manually type in the name of your gmail label (e.g. where "Label1" and "Label2" are listed in this css sheet. Soon this will be done through a user interface.*/
/*****************************************************************************/



/*****************************************************************************/
/*********     GENERAL UI IMPROVEMENTS FOR INBOX          ********************/
/*****************************************************************************/

.WA.xY {
    /*To remove the importance marker*/
    display: none;
}

/*Turn attachment icons to grayscale*/
.brf{
    filter:grayscale(100);
}

/* Starred to gray*/
td.apU > .T-KT.T-KT-Jp::before {
    filter: brightness(10%);
}

/*********     Visually distinguishing emails already replied to *************/

div table tbody tr:has(div.ay.aA) {
    /*Fades out any email replied to already. Requires conversation view to be disabled. Selects based on the "arrow" symbol gmail natively adds*/
    filter: opacity(50%);
    /* padding-left: 2vw; optional */
}

div table tbody tr:has(div.ay.aA) td.yX.xY{
    /*Indents the sender/subject line of emails replies to already. Requires conversation view to be disabled. Selects based on the "arrow" symbol gmail natively adds*/
    padding-left:1.5vw;
}

/*********************     REMOVING ICONS    *********************************/
/*****************************************************************************/

/*********************      Top Toolbar      *********************************/

/*Menu Bar*/
.gb_Kc{
    filter: opacity(50%);
}

.gb_Kc:hover{
    filter: opacity(100%);
}

/*Gmail icon/Home button*/
img.gb_Od{
    /*To remove the google gmail icon in the top left*/
    display: none !important;
    /* filter: opacity(25%); Optional to fade out instead of remove */
}

/* '?' icon/help button*/
[data-tooltip="Support"]{
    /*To remove the "help" icon in the top right*/
    display: none;
    /* filter: opacity(25%); Optional to fade out instead of remove */
}

/* Try Gemini button*/
[jscontroller="xdV2Hc"] {
    /*To remove the "try gemini" icon in the top right*/
    display: none;
    /* filter: opacity(25%); Optional to fade out instead of remove */
}

/* Google apps launcher*/
.gb_3c{
    /*To remove just the google apps launcher*/
    display:none;
    /* filter: opacity(25%); Optional to fade out instead of remove */
}

/*----Settings cog icon */

[data-tooltip="Settings"]{
    /*Fade out settings cog to reduce visual clutter*/
    /*display: none;  IF you really want to remove the settings cog, but this is not recommended || @follow-up provide a disclaimer checkbox for this*/
    filter: opacity(50%);
}
[data-tooltip="Settings"]:hover {
    /*Undo fade when hovering over*/
    filter: opacity(100%);
}

/*----Google profile icon **/
.gb_z{
    /*To remove/fade out just the google profile icon in the top right corner*/
    /*display: none; If you want to remove the google profile. Not recommended, as you will not be able to switch between gmail profiles @follow-up provide disclaimer checkbox for this*/
    filter: opacity(50%); 
}

.gb_z:hover {
    /*Undo fade when hovering over*/
    filter: opacity(100%);
    
}

/********     Coloring emails according to their label    ********************/
/*****************************************************************************/

/******************** Coloring the email itself
/**Label1**/
div table tbody tr:has(div.at[title="Label1"]) {
    /* Turns entire row for the email matching the label to a different color, inverts text color */
    background-color: rgba(158,149,218,0.8);
    border-style: solid;
    border-radius: 8px;
    border-color: white;
}

/*? Here I remove the optional byline and preview text color inversion and the conversation thread count number text color inversion and "time of arrival" inversion*/

/**Label2**/
div table tbody tr:has(div.at[title="Label2"]) {
    /* Turns entire row for the email matching the label to a different color, inverts text color */
    background-color: rgba(255, 241, 118,0.2);
    border-style: solid;
    border-color: white;
    border-radius: 8px;
}

/*? Here I remove the optional byline and preview text color inversion and the conversation thread count number text color inversion and "time of arrival" inversion*/



/***************** Removing the native gmail label tags in favor of highlight */
div.at{
    /*To hide the gmail native labels applied to emails in favor of using highlight color to distinguish*/
    display: none;
}

tr:hover:has(div.at) div.at{
    /*To show the gmail native label title on the email when you hover over it*/
    display: inline;
    font-weight: bold;
}

/******************** Coloring the label icon on the labels pane
/*If you want the small UI icon indicating the label button to be the same color*/
[data-tooltip="Label1"] div.qj.aEe.qr{
    /*Turn the |> button next to the label title on the sidebar to the same color that the emails with that label are highlighted as*/
    background-color:rgba(158,149,218,1);
}

[data-tooltip="Label2"] div.qj.aEe.qr{
    /*Turn the |> button next to the label title on the sidebar to the same color that the emails with that label are highlighted as*/
    background-color: rgba(255, 241, 118,1);
}



/*****************************************************************************/
/***************         SIDEBAR UI IMPROVEMENTS    **************************/
/*****************************************************************************/


/* Removing the color background for "Compose" button*/
.T-I.T-I-KE.L3 {
    background-color: unset !important;
    /* filter: opacity(50%); */
}
.T-I.T-I-KE.L3:hover {
    /* filter: opacity(100%); */
    background-color: #c2e7ff;
}

/*********************   Removing Side Tabs  *********************************/

/*Drafts*/
.TN.bzz.aHS-bnq {
    /*To remove the "drafts" tab option*/
    display: none;
}
/*Snoozed*/
.TN.bzz.aHS-bu1 {
    /*To remove the "Snoozed" tab option */
    display: none;
}
/*Add new label "+" icon (collapsed mode)*/
.bhZ:not(.bym) .aAu.arN {
    /*To remove the "add new label" + icon when in collapsed sidebar mode only*/
    display: none;
}

/***********   Adding # Unread Indicator (collapsed view)    *****************/
.bsU{
    /*To make the numbers indicating how many unread emails there are BOLD*/
    font-weight: bold;
}

.bhZ:not(.bym):not(.bjB) .bsU{
    /* To change the red dot indicating unread emails to a number indicating the number of unread*/
    background-color: white; /*@follow-up re: night mode and dark label colors*/
    font-size: 10px;
    line-height: 2px;
    top: 2px;
    right:-8px; /*@follow-up change px to responsive */
}


/*****************************************************************************/
/*********     GENERAL UI IMPROVEMENTS FOR SEARCH         ********************/
/*****************************************************************************/



/*********     Clearing up visual clutter of search term matches  *************/

.il {
    /*Replaces annoying highlight with a thick underline. Can add option to change color, etc*/
    background: none !important;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
}

